body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.items__top,
.items__boot {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.items__basket,
.items__price_cont {
  font-size: 20px;
  color: gray;
}

.items__price {
  display: flex;
  align-items: center;
}

.items__boot {
  flex-direction: column;
}

.button {
  width: 100%;
  height: 60px;
  font-size: 17px;
  color: gray;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.button__add {
  margin-bottom: 20px;
  background-color: #0d92d2;
  border: #0d92d2;
  color: white;
}
